<div class="row align-items-center justify-content-center  m-2 ">
  <div class="col-6">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter your email">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter your password">
      </div>

      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</div>

