<p class="lead">
  Who We Are

  Goodreads is the world’s largest site for readers and book recommendations. Our mission is to help readers discover books they love and get more out of reading. Goodreads launched in January 2007.
  A Few Things You Can Do On Goodreads

  See what books your friends are reading.
  Track the books you're reading, have read, and want to read.
  Check out your personalized book recommendations. Our recommendation engine analyzes 20 billion data points to give suggestions tailored to your literary tastes.
  Find out if a book is a good fit for you from our community’s reviews.

</p>
