.rating {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.rating input {
  display: none;
}
.rating label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/images/star.png");
  /* you can change the background star from here */
  background-size: cover;
}
.rating input:checked + label {
  background-image: url("../../assets/images/filled-star.png");
  /* you can change image of the filled star from here */
}
.book-image {
  max-width: 100%;
  height: auto;
}
.book-info {
  margin-top: 20px;
}
.user-reviews {
  margin-top: 20px;
}
.user-review {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}
.user-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
