<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Announcing the best books of 2023</h1>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1348264535i/4386485.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Animals Make Us Human: Creating the Best Life for Animals</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1667708346i/43641.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Water for Elephants</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1408500437i/7094569.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Feed</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1348264535i/4386485.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Animals Make Us Human: Creating the Best Life for Animals</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1667708346i/43641.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Water for Elephants</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1408500437i/7094569.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Feed</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1348264535i/4386485.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Animals Make Us Human: Creating the Best Life for Animals</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1667708346i/43641.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Water for Elephants</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1408500437i/7094569.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Feed</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1408500437i/7094569.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Feed</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<h2 class="pb-2 border-bottom mt-4">Genres</h2>
<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1348264535i/4386485.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fiction</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1667708346i/43641.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Thriller</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1408500437i/7094569.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tech</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1348264535i/4386485.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Philosophy</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1667708346i/43641.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Romance</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1667708346i/43641.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Manga</h5>
      </div>
    </div>
  </div>
</div>

